<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
       <!-- Section: form gradient -->
<section action="/contacts" method="post" class="form-gradient mb-5">

  <!--Form with header-->
  <div class="card">

    <!--Header-->
    <div class="header peach-gradient">

      <div class="row d-flex justify-content-center">
        <h3 class="white-text mb-0 py-5 font-weight-bold">Contact Us</h3>
      </div>

    </div>
    <!--Header-->

    <div class="card-body mx-4">

      <div class="md-form">
        <i class="fas fa-user prefix grey-text"></i>
        <input type="text" name="user_name">
        <label for="form104">Your name</label>
      </div>

      <div class="md-form">
        <i class="fas fa-envelope prefix grey-text"></i>
        <input type="text" name="user_email">
        <label for="form105">Your email</label>
      </div>

      <div class="md-form">
        <i class="fas fa-tag prefix grey-text"></i>
        <input type="text" name="subject">
        <label for="form106">Subject</label>
      </div>

      <div class="md-form">
        <i class="fas fa-pencil-alt prefix grey-text"></i>
        <textarea type="text" name="user_message" rows="5"></textarea>
        <label for="form107">Your message</label>
      </div>


      <!--Grid row-->
      <div class="row d-flex align-items-center mb-3 mt-4">

        <!--Grid column-->
        <div class="col-md-12">
          <div class="text-center">
            <button type="button" class="btn btn-primary">Send</button>
          </div>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </div>

  </div>
  <!--/Form with header-->

</section>

</body>
</html>