<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Booking</h1>

    <form action="/visit" method="post" role="form">
  <div class="form-group">

    <label for="exampleInputEmail1">Your name</label>
    <input name="user_name" type="text" id="bbb" class="form-control" placeholder="your name">
    
    <label for="exampleInputEmail1">Your phone</label>
    <input name="user_phone" type="text" class="form-control ccc" placeholder="your phone">

    <label for="exampleInputEmail1">Date and time</label>
    <input name="date_time" type="text" class="form-control ccc" placeholder="date">

  </div>
  <select name='choice_barber'>
    <option>Jassi Simpson</option>
    <option>Walter White</option>
  </select>
   <p>
 
  <button type="submit" class="btn btn-primary">Booking</button>
</form>
<script type="text/javascript">
  $('#bbb').css('background-color','yellow');
  $('.ccc').css('background-color','blue');
 </script>



</body>
</html>