<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Booking</h1>

    <form action="/visit" method="post" role="form">
  <div class="form-group">
  
    <label for="exampleInputEmail1">Your name</label>
    <input name="user_name" type="text" class="form-control" placeholder="your name">
    
  </div>
 
  <button type="submit" class="btn btn-primary">Booking</button>
</form>

</body>
</html>